<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <cors enabled="true" failUnlistedOrigins="true">
            <add origin="https://erpsinc.pt"
                 allowCredentials="true"
                 maxAge="120"> 
                <allowHeaders allowAllRequestedHeaders="true">
                    <add header="erpsinc" />
                </allowHeaders>
                <allowMethods>
                     <add method="GET, POST, OPTIONS" /> 
                </allowMethods>
            </add>
        </cors>
    </system.webServer>
</configuration>